<IfModule mod_rewrite.c>
    # prevent access to directory list
    Options All -Indexes

    # allow rewriting
    RewriteEngine On

    # targeted directory to install
    RewriteBase /avenue/

    # rewrite url rule for directory
    RewriteRule ^(?:app|config|i18n|src|logs|tests|vendor)\b.* index.php/$0 [L]

    # front control and url rewriting to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .* index.php/$0 [PT]
</IfModule>
